@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap");
.App {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
}

.no-select {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
.q-card-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.q-card {
  background-color: whitesmoke;
  padding: 10px;
  text-align: start;
  margin: 10px;
  border-radius: 10px;
  width: 400px;
  font-size: 14px;
}

.q-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.q-group {
  margin: 10px;
  padding: 5px;
  color: white;
  border-radius: 10px;
}

.q-note {
  font-family: "BIZ UDPMincho", serif;
  font-size: 12px;
}

a {
  color: rgb(148, 170, 112);
}

.filter-btn {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  position: sticky;
  top: 0px;
  background: white;
  justify-content: center;
}
